<div class="w3-container">
  <p>
    <strong><%= comment.commenter %> :</strong>
    <%= comment.body %><br>

  <%= link_to 'Destroy Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
  </p>
</div>
