<h1><center>
<span><%= link_to 'THEM BLOGS', controller: 'articles' %><span>
</h1></center>
<img src="https://higherlogicdownload.s3.amazonaws.com/AISAP/9240e0fb-b3b1-451a-85f4-ae549c79acf1/UploadedImages/blog.jpg" alt="" />
