<center><h2><%= link_to "Artists", artists_path %></h2>
<p>Name: <%= @artist.name %></p>
<p>Nationality: <%= @artist.nationality %></p>
<p><img src='<%=@artist.photo_url %>' style='max-height: 200px' /></p>
</center>
